<!DOCTYPE html>
<html>
  <head>
    <title>student</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h4>Enrollment number: <%= enrollno %> </h4>

     <h1>TIME TABLE</h1>
     <table align="center" border="2">
       <tr>
        <td align="center" height="50" width="100"><br><b>Day/Slots</b></br></td>
        <td align="center" height="50" width="100"><b>I<br>1-2</b></td>
        <td align="center" height="50" width="100"><b>II<br>2-3</b></td>
        <td align="center" height="50" width="100"><b>III<br>3-4</b></td>
        <td align="center" height="50" width="100"><b>IV<br>4-5</b></td>
       </tr>

       <% for(let obj in time_table) { %>

        <tr>
          <td align="center" height="50" width="100">
            <% console.log(time_table[obj]['day']); %>
            <%= time_table[obj]['day'] %>
          </td>

          <% var cnt=0 %>
          <% for(let currentSlots in time_table[obj]['availableSlots']) { 
            cnt=cnt+1

            while(Math.floor(currentSlots)!=cnt) { %>
              <td align="center" height="50" width="100"></td>
              <% cnt = cnt + 1;
            }

            if(time_table[obj]['availableSlots'].hasOwnProperty(currentSlots)) { 
              console.log('currentSlots: '+currentSlots); %>

              <td align="center" height="50" width="100"><br>
              <% for(let profs in time_table[obj]['availableSlots'][currentSlots]) {
                console.log(time_table[obj]['availableSlots'][currentSlots][profs]); %>
                  <div>
                    <button class="prof-name-table" onclick="">
                      <div >
                        <%= time_table[obj]['availableSlots'][currentSlots][profs] %>
                        <br>
                      </div>
                    </button>
                  </div>
              <% } %>
              <br></td>

            <% }
             %>
          <% } console.log(" newline"); %>

          <% while(cnt != 4) { %>
            <td align="center" height="50" width="100"></td>
            <% cnt = cnt + 1;
         } %>
        
        </tr>
        
      <% } %>
     </table>
    
  </body>
</html>